article.cvb {
   margin-top: 32px;
}

article#gsd {
    margin-top: 8px;
}

.hideme {
    display: none;
}
.center {
    text-align: center;
}

IMG.tall {
    height: 450px;
}

article.cvb img {
    width: 80%;
}
article img {
    display: block;
    margin: auto auto;
}

img.face {
    height: 450px;
}

img.left {
    margin: 4px;
}
IMG.graphic {
    display: block;
    margin: auto auto;
}
